<?xml version="1.0" enconding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
  xmlns:gap="http://phonegap.com/ns/1.0"
  version="1.0.0" id="org.guilhermegs.cenourapp">

  <name>Só de Cenoura</name>
  <description>
      Meno do restaurante Só de cenouta
  </description>

  <author href="https://guizaobr.github.io/MinhaPagina/"
    email="gui.germano.silva@gmail.com">
    Guilherme Germano Silva
  </author>
</widget>
